.container2_about {
  position: relative;
  background-color: $blue;
  padding: 4rem 2rem;
  text-align: center;
  color: black;
  .caption {
    padding: 0.8rem 0;
    p {
      margin-top: 1rem;
    }
    @include bp-sm {
      padding: 1rem 15%;
    }
  }

  @include bp-lg {
    display: flex;
    padding: 14rem 3rem;
    .caption {
      padding: 0 3rem;
    }
  }
  @include bp-lg {
    &::after {
      content: "";
      position: absolute;
      background-color: white;
      clip-path: polygon(50% 0, 0 100%, 100% 100%);
      width: 100%;
      height: 100px;
      bottom: -1px;
      right: 0;
      z-index: 5;
    }
  }
}
