.container3 {
  cursor: default;
  position: relative;
  @include bp-lg {
    background-color: black;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5%;
  }
  @include bp-xl {
    padding: 0 10%;
  }
  .text_area {
    text-align: center;
    background-color: lighten($grey, 35%);
    color: black;
    padding: 4rem;
    @include bp-sm {
      padding: 6rem;
    }
    @include bp-lg {
      height: 70%;
      width: 70%;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .text_div {
      position: relative;
      @include bp-lg {
        width: 50%;
        margin-left: 7%;
      }
      @include bp-xl {
        margin-left: 11%;
      }
      &::before {
        @include bp-xl {
          content: "";
          position: absolute;
          top: 0;
          left: -20px;
          width: 1px;
          height: 100%;
          background-color: black;
        }
      }
    }
    .line {
      content: "";
      height: 1px;
      width: 60%;
      background-color: black;
      margin: 0 auto;
      @include bp-sm {
        width: 40%;
      }
    }
    h1 {
      font-size: 2.4rem;
      margin-bottom: 2rem;
      text-transform: uppercase;
      @include bp-lg {
        margin-bottom: 3rem;
        @include bp-xl {
          font-size: 2.7rem;
        }
      }
    }
    h3 {
      font-size: 1.4rem;
      @include bp-xl {
        font-size: 1.7rem;
      }
    }
    h5 {
      font-size: 1.2rem;
      font-weight: 400;
      @include bp-xl {
        font-size: 1.4rem;
      }
    }
    p {
      margin-top: 2.8rem;
      font-size: 0.9rem;
      margin-bottom: 3.4rem;
      @include bp-xl {
        padding: 0 10%;
        font-size: 1rem;
      }
    }
    a {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 500;
      color: $blue_dark;
      padding: 0.5rem 3rem;
      border: 2px solid $blue_dark;
      &:hover {
        background-color: lighten($grey, 25%);
      }
    }
  }
  .img_area {
    @include bp-lg {
      width: 50%;
      height: 50%;
      background-color: black;
      background: url("../img/phone.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
      position: absolute;
      left: 70%;
      top: 50%;
      transform: translate(-50%, -50%);
      filter: brightness(60%);
    }
    @include bp-xl {
      width: 40%;
    }
  }
}
